################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PoE-Launcher/v16
/PoE-Launcher/obj/Debug
/PoE-Launcher/bin/Debug
